.about {
    padding: 20px;
}

.about-banner-container {
    width: 100%;
    height: 223px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: #000000;
    border-radius: 10px;
}

.banner-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;
}

.about-collapse-container {
    padding-top: 20px;
}

@media (min-width: 700px) {
    .about {
        padding: 40px 40px;
    }

    .about-banner-container {
        width: 100%;
        height: 220px;
        
        margin-bottom: 40px;
    }

    .about-collapse-container {
        padding: 0;
    }
}


@media (min-width: 1420px) {
    .about {
        padding: 0 100px;
    }

    .about-banner-container {
        height: 223px;
        margin: 0 0 40px 0;
    }

    .about-collapse-container {
        padding: 0 170px;
    }
}