.house-description {
    padding: 0 20px;
}

.house-title {
    padding-bottom: 5px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #FF6060;
}

.house-location {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FF6060;
}

.tags {
    width: 100%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    width: 84px;
    height: 18px;
    margin-right: 10px;
    padding-top: 2px;

    border-radius: 10px;

    color: white;
    background-color: #FF6060;

    font-weight: 500;
    font-size: 10px;
    line-height: 14px;

    text-align: center;

    display: block;
    overflow: hidden;
}

.house-ratings-host {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.host {
    display: flex;
}

.host-image {
    width: 32px;
    height: 32px;

    background-color: #F7F7F7;
    border-radius: 50% 50%;
}

.host>p {
    width: 80px;
    margin-right: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    text-align: right;

    color: #FF6060;
}

.house-collapse {
    padding: 0 20px;
}

@media (min-width: 700px) {
    .house {
        padding: 0 20px;
    }
    .tag {
        width: 115px;
        height: 25px;

        font-size: 14px;
        line-height: 20px;
    }
    .host>p {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }
    .host-image {
        width: 54px;
        height: 54px;
    }
    .house-collapse {
        display: flex;
        justify-content: space-between;
    }
    .house-collapse>div {
        width: 48%;
    }
}

@media (min-width: 950px) {
    .house-description-ratings {
        display: flex;
        justify-content: space-between;
    }
    .house-ratings-host {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (min-width: 1420px) {
    .house-title {
        font-size: 36px;
        line-height: 51px;
    }
    .house-location {
        font-size: 18px;
        line-height: 26px;
    }
    .tags {
        margin-bottom: 25px;
    }
    .host-image {
        width: 64px;
        height: 64px;
    }
}
