.house-description {
    padding: 0 20px;
}

.house-title {
    padding-bottom: 5px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #FF6060;
}

.house-location {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FF6060;
}

.tags {
    width: 100%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    width: 84px;
    height: 18px;
    margin-right: 10px;
    padding-top: 2px;

    border-radius: 10px;

    color: white;
    background-color: #FF6060;

    font-weight: 500;
    font-size: 10px;
    line-height: 14px;

    text-align: center;

    display: block;
    overflow: hidden;
}

@media (min-width: 700px) {
    .tag {
        height: 25px;

        font-size: 14px;
        line-height: 20px;
    }
    .house-collapse {
        display: flex;
        justify-content: space-between;
    }
    .house-collapse>div {
        width: 48%;
    }
}

@media (min-width: 1420px) {
    .house-title {
        font-size: 36px;
        line-height: 51px;
    }
    .house-location {
        font-size: 18px;
        line-height: 26px;
    }
}
