.star {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    padding-top: 10px;
}

@media (min-width: 700px) {
    .star {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

@media (min-width: 1420px) {
    .star {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}