@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); /* importation de la police 'Montserrat' */

* {
    font-family: 'Montserrat';
    font-style: normal;
    box-sizing: border-box;
}

.container {
    max-width: 1420px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
}

a:focus {
    outline: none;
}

