.slideshow {
    width: 100%;
    padding: 30px 20px 15px 20px;
    position: relative;
}

.pictures-container {
    width: 100%;
    height: 255px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-picture {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-buttons {
    width: 100%;
    padding: 0 20px;

    position: absolute;
    top: 140px;

    display: flex;
    justify-content: space-between;
}
.slide-button {
    padding: 10px;

    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.slide-button-img {
    width: 11.67px;
    height: 19.8px;
}
.slideshow-number {
    width: 100%;

    color: white;
    
    text-align: center;
    position: absolute;

    top: 120px;
}


@media (min-width: 700px) {
    .slideshow { 
        padding-bottom: 30px;
    }
    .pictures-container {
        height: 350px;
    }
    .slideshow-buttons {
        top: 180px;
    }
    
    .slide-button {
        padding: 10px 20px;
    }
    .slide-button-img {
        width: 23.34px;
        height: 39.6px;
    }
    .slideshow-number { 
        top: 170px;
    }
}

@media (min-width: 1420px) {
    .slideshow {
        padding: 0 20px 30px 20px;
    }
    .pictures-container {
        height: 415px;
    }
    .slide-button {
        padding: 10px 25px;
    }
    .slide-button-img {
        width: 46.68px;
        height: 79.2px;
    }
    .slideshow-number {
        top: 200px;
    }
}