.slideshow {
    padding: 30px 20px 15px 20px;
}

.pictures-container {
    width: 100%;
    height: 255px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-picture {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.button-container {
    margin-top: -140px;
    margin-bottom: 99px;

    position: relative;

    display: flex;
    justify-content: space-between;
}

.slide-button {
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.slide-button-img {
    width: 11.67px;
    height: 19.8px;
}

.slideshow-number {
    margin-top: -40px;
    margin-bottom: 15px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: white;

    text-align: center;

    position: relative;
}

@media (min-width: 700px) {
    .pictures-container {
        height: 350px;
    }
    .button-container {
        margin-top: -200px;
        margin-bottom: 140px;
    }
    .slide-button {
        padding: 10px 20px;
    }
    .slide-button-img {
        width: 23.34px;
        height: 39.6px;
    }
}

@media (min-width: 1420px) {
    .slideshow {
        padding: 0 20px;
    }
    .pictures-container {
        height: 415px;
    }
    .button-container {
        margin-top: -250px;
        margin-bottom: 209px;
    }
    .slide-button {
        padding: 10px 25px;
    }
    .slide-button-img {
        width: 46.68px;
        height: 79.2px;
    }
    .slideshow-number {
        margin-top: -100px;
        margin-bottom: 50px;
    }
}